/* This will be stripped out when rendering on the server*/

.booksList {
  background-color: red;
}

.booksList h1 {
  text-align: left;
}

.booksList ul {
  list-style: none;
  text-align: left;
  padding: 0;
}

.booksList li {
  margin-bottom: 16px;
  font-size: 22px;
}
